@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 * By:Vick
 * Date:2013-11-18
 *
 */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, abbr, address, cite, code, del, dfn, em, img, sub, sup, var, i, dl, dd, dt, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video{margin:0;padding:0; zoom:1;}
article, aside, figure, footer, header, hgroup, nav, menu, section {display: block;}
h1,h2,h3,h4,h5,h6{font-size:100%; }
input, select {	vertical-align: middle;}
textarea{resize:none;}
a,button{outline: none;*star: expression(this.onFocus=this.blur());cursor: pointer;}
img{vertical-align:top;}
ul,li{ list-style:none;}

/*大体架构
 ----------*/
body,html {
	width: 100%;
	background: #fff;
	overflow-x:hidden;
	color: #4d4d4d;
	font-family:Microsoft Yahei,Arial;
	font-size:12px;
}


.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height:100%;
}
/**主体**/
img {
	border: 0;
	vertical-align: middle;
	display:block;
}

a{text-decoration:none;color: #404040;}

i{font-style:normal;}

/*颜色值
 --------------*/
.orange {
	color: #ffe400;
}
.blue {
	color: #699BCC;
}


/*清除浮动
 --------------*/
.clear {
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
	font-size: 0;
	overflow: hidden;
	clear: both;
	line-height: 0;
}
.clearfix {
  zoom: 1;
  _height: 1px
}
.clearfix:after,.cl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
/*清楚文字内容
 --------------*/
.txtIndent {
	text-indent: -9999em;
}
/*用于seo不显示的内容
 --------------*/
.seo {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
}
.seo, .hideImg {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
}
.hideImg {
	overflow: hidden;
}
.hideImg img {
	width: 0;
	height: 0;
	overflow: hidden;
}
/*左浮动和右浮动
 --------------*/
.fl {
	float: left;
}
.fr {
	float: right;
}
.fl, .fr {
	_display: inline;
}
.ma{
	margin:0 auto;
}
input,textarea{border-radius:0; padding:0; margin:0; /*去除input默认样式*/}
input[type="text"],input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}

em{
	font-style:normal;
}
input,textarea:focus {
	outline: none;
}


.w1000{
	width:1000px;
}


.mw1002{
	max-width:1002px;
}

.mt5{
	margin-top:5px;
}
.mt10{
	margin-top:10px;
}
.mt15{
	margin-top:15px;
}
.mt20{
	margin-top:20px;
}
.mt30{
	margin-top:30px;
}
.mt35{
	margin-top:35px;
}
.mt45{
	margin-top:45px;
}
.mt92{
	margin-top:92px;
}





.m0{
	margin:0;
}
.mtmb2010{
	margin-top:20px;
	margin-bottom:10px;
}

.mt30{
	margin-top:30px;
}
.mt40{
	margin-top:40px;
}
.mr18{
	margin-right:18px;
}
.mb20{
	margin-bottom:20px;
}
.mb10{
	margin-bottom:10px;
}
.mb15{
	margin-bottom:15px;
}
.mb25{
	margin-bottom:25px;
}
.mb30{
	margin-bottom:30px;
}
.mb35{
	margin-bottom:35px;
}
.mb40{
	margin-bottom:40px;
}
.mb50{
	margin-bottom:50px;
}
.mb100{
	margin-bottom:100px;
}

.ml15{
	margin-left:15px;
}
.ml20{
	margin-left:20px;
}
.ml25{
	margin-left:25px;
}

.mr20{
	margin-right:20px;
}




.mtmb20{
	margin-bottom:20px;
	margin-top:20px;
}
.mtmb10{
	margin-bottom:10px;
	margin-top:10px;
}
.mb5{
	margin-bottom:5px;
}
.pt10{
	padding-top:10px;
}
.pt15{
	padding-top:15px;
}
.pt25{
	padding-top:25px;
}
.pt30{
	padding-top:30px;
}
.pt50{
	padding-top:50px;
}
.pl37_w{
	padding-left:37px;
}
.pb10{
	padding-bottom:10px;
}
.pb15{
	padding-bottom:15px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb25{
	padding-bottom:25px;
}
.pb30{
	padding-bottom:30px;
}












